.navbar-container{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.989);
    color: white;
    // border-radius: 10px;
    .navitem{
        flex: 4;
        padding-left: 50px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 50px;
        align-items: center;
        cursor: pointer;
        position: relative;
        .categories{
            display: flex;
            justify-content: left;
            align-items: center;
            height: 50px;
            .dropdown{
                height: 0;
                overflow: hidden;
                text-align: left;
                position: absolute;
                top: 50px;
                z-index: 1;
                transition: .5s;

            }
        }
        .categories:hover{
            .ul:hover{
                .dropdown{
                    display: block;
                }
            }
            .dropdown{
                height: auto;
                overflow: auto;
                width: 120px;
                text-align: left;
                position: absolute;
                top: 50px;
                background-color: rgba(0, 0, 0, 0.9);
                padding-top: 10px;
                border-top: 2px solid white;
                z-index: 1;
                transition: .5s;
                ul{
                    line-height: 30px;
                    list-style: none;
                    padding-bottom: 20px;
                    li{
                        padding-left: 20px;

                    }
                    li:hover{
                        background-color: black;
                    }
                }
                
            }
        }
    }
    .navitem-explore{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}